node_modules/
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local

# macOS
.DS_Store

# iOS
ios/Pods/
ios/build/

# Android
android/.gradle/
android/app/build/
android/build/

# Testing
coverage/
